[Colors]

DefaultTextColor=#ffffff
SecondaryTextColor=#999999
ActiveTextColor=#37b4fc
DisabledTextColor=#666666
PaintedTextColor=#00101a

ReversedTextColor=#000000
ReversedSecondaryTextColor=#666666
ReversedActiveTextColor=#00a0fc
ReversedDisabledTextColor=#808080
ReversedPaintedTextColor=#ffffff

DefaultBackgroundColor=#000000
DarkerBackgroundColor=#000000
ReversedBackgroundColor=#ffffff
SelectionColor=#37b4fc
ReversedSelectionColor=#37b4fc

ContentBackgroundColor=#000000
ContentFrameColor=#000000
ContentSelectionColor=#ffffff

TitleTextColor=#ffffff
ButtonTextColor=#ffffff
ButtonTextPressedColor=#ffffff
ButtonTextDisabledColor=#666666

AccentColor1=#86d5fc
AccentColor2=#00639e
AccentColor3=#00639e
AttentionColor=#e3002a

NotificationBackgroundColor=#efcb00
NotificationTextColor=#491b03
NotificationSecondaryTextColor=#783800
